apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: notification-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8083
          env:
            - name: NOTIFICATION_PORT
              value: "8083"
            - name: KAFKA_SERVER
              value: "host.docker.internal:9092"
            - name: NEXUSPAY_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: nexuspay-secrets
                  key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
spec:
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
  type: ClusterIP